<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Producto}}</title>
    {% load static %}
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>

    <ul>
        <l1><a href='/'>{{ Menu}}</a></l1>
        
        <l1><a href='/listarcliente'>{{ Cliente }}</a></l1>
        
        <l1><a href='/listarproducto'>{{ Producto }}</a></l1>
    </ul>
    <h1>{{Producto}}</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{{accion}}</button>
    </form>

    <l1><a href='/admin/app/producto/'>Consultar {{ Producto }}</a></l1>

</body>

</html>